:root{
    --main: #236c75;
    --bg: #F5F5ED;
    --card: #f6f6f2;
    --txt: #464343b2;
    --icon: #55a5a9;
    --main2: #e2743e;
}
.app-section {
  padding: 80px 0;
  background: #f6f6ea;
  margin: 0;
}

.app-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.app-text {
  flex: 1;
  font-family: 'Outfit';
}

.tag {
  background: #ffe7d4;
  color: #ff7a00;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.app-text h2 {
  color: #464343;
  font-size: 40px;
  margin: 15px 0;
}

.app-text h2 span {
  color: #DD8046;
}

.desc {
  color: #6b7280; 
  font-size: 1.125rem; 
  max-width: 34rem; 
  margin: 5px 0px 30px 0px;
}

.features {
  list-style: none;
  padding: 0;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.app-btn,
.play-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #222;
  color: white;
  cursor: pointer;
  font-family: 'jakrta';
  transition: 0.4s ease;
}

.app-btn:hover,
.play-btn:hover {
  background-color: var(--main);
}

.app-image img {
  width: 450px;
  border-radius: 30px;
  transition: transform .7s ease-out; 
  margin-top: 35px;
  margin-right: 30px;
  height: 280px;
}

.app-image img:hover {
 transform: scale(1.05);  
}
.icon-box {
  width: 37px;
  height: 37px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  background-color:#DAE4D4;
  border: 2px solid #BFD7C9;
  border-radius: 10px;
}
.container {
  display: flex;
  align-items: center; /* يخليهم على نفس الخط */
  gap: 10px; /* مسافة بينهم */
  margin-top: 6px;
}
.container p {
  /* يلغي المسافة الافتراضية بين الفقرات */
  font-size: 16px;
  color: #555;
}
