@font-face {
    font-family: outfit;
    src: url(./fonts/outfit.ttf);
}
@font-face {
    font-family: jakrta;
    src: url(./fonts/jakrta.ttf);
}
body{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #EAECDA;
}