@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 67 33% 89%;
    --foreground: 0 2% 27%;

    --card: 60 30% 96%;
    --card-foreground: 0 2% 27%;

    --popover: 60 30% 96%;
    --popover-foreground: 0 2% 27%;

    --primary: 187 51% 28%;
    --primary-foreground: 67 33% 95%;

    --secondary: 176 32% 49%;
    --secondary-foreground: 67 33% 95%;

    --muted: 38 28% 72%;
    --muted-foreground: 39 12% 47%;

    --accent: 23 69% 57%;
    --accent-foreground: 67 33% 95%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 67 33% 95%;

    --border: 38 28% 78%;
    --input: 38 28% 78%;
    --ring: 187 51% 28%;

    --radius: 0.75rem;

    --sidebar-background: 67 33% 86%;
    --sidebar-foreground: 0 2% 27%;
    --sidebar-primary: 187 51% 28%;
    --sidebar-primary-foreground: 67 33% 95%;
    --sidebar-accent: 176 32% 49%;
    --sidebar-accent-foreground: 67 33% 95%;
    --sidebar-border: 38 28% 78%;
    --sidebar-ring: 187 51% 28%;

    --soft-accent: 38 28% 72%;
  }

  .dark {
    --background: 240 25% 2%;
    --foreground: 67 33% 89%;

    --card: 240 15% 8%;
    --card-foreground: 67 33% 89%;

    --popover: 240 15% 8%;
    --popover-foreground: 67 33% 89%;

    --primary: 176 32% 49%;
    --primary-foreground: 240 25% 2%;

    --secondary: 187 51% 28%;
    --secondary-foreground: 67 33% 89%;

    --muted: 240 10% 16%;
    --muted-foreground: 38 28% 72%;

    --accent: 23 69% 57%;
    --accent-foreground: 240 25% 2%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 67 33% 89%;

    --border: 240 10% 16%;
    --input: 240 10% 16%;
    --ring: 176 32% 49%;

    --sidebar-background: 240 25% 2%;
    --sidebar-foreground: 67 33% 89%;
    --sidebar-primary: 176 32% 49%;
    --sidebar-primary-foreground: 240 25% 2%;
    --sidebar-accent: 240 10% 16%;
    --sidebar-accent-foreground: 67 33% 89%;
    --sidebar-border: 240 10% 16%;
    --sidebar-ring: 176 32% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
  }
}

html{
    scroll-behavior:smooth;
}