:root{
    --main: #236c75;
    --bg: #EAECDA;
    --card: #f6f6f2;
    --txt: #464343b2;
    --icon: #55a5a9;
    --main2: #e2743e;
}
.loginMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    height: 66px;
    width: 66px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login > h1{
    font-size: 26px;
    color: #464343;
    margin-bottom: 5px;
    font-family: 'Outfit';
}
.login > p{
    font-size: 16px;
    font-family: 'jakrta';
    color: #867c89;
    margin-top: 5px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8f2;
    border-radius: 24px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid var(--main2);
}
form > label {
    font-family: 'jakrta';
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.email, .pass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.email > svg, .pass > svg{
    margin-right: 10px;
}
form > div > input{
    padding: 12px;
    padding-right: 0px;
    width: 360px;
    border-radius: 12px;
    font-family: 'jakrta';
    border: 2px solid #ccc;
    background-color: var(--bg);
}
.loginBtn{
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    background-color: var(--main2);
    color: var(--card);
    font-size: 20px;
    border: 1px solid var(--main2);
    cursor: pointer;
    transition: 0.3s ease;
}
.loginBtn:hover{
    background-color: #DF8B57;
}
.d3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.d3 > p{
    font-family: 'jakrta';
    font-size: 14px;
    color: #464343;
    font-weight: 200;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.d3 > hr{
    margin: 0;
    width: 150px;
}
.pt2{
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pt2 > button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    width: 180px;
    font-family: 'jakrta';
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid var(--main2);
    background: transparent;
    transition: 0.3s ease;
    cursor: pointer;
}
.pt2 > button:hover{
    background-color: #CCBDA4;
}
.pt2 > button:nth-child(1) > svg{
    display: inline;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.pt2 > button:nth-child(2) > svg{
    display: inline;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    opacity: 0.7;
}
form > p{
    text-align: center;
    font-weight: 300;
    color: var(--txt);
    font-family: 'jakrta';
    font-size: 14px;
    margin-bottom: 0;
}
form > p > a{
    text-decoration: none;
    color: var(--main2);
    font-weight: 400;
}
form > p > a:hover{
    text-decoration: underline;
    color: var(--main);
}