:root{
    --main: #236c75;
    --bg: #EAECDA;
    --card: #f6f6f2;
    --txt: #464343b2;
    --icon: #55a5a9;
    --main2: #e2743e;
}
.registerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    height: 66px;
    width: 66px;
}
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register > h1{
    font-size: 26px;
    color: #464343;
    margin-bottom: 5px;
    font-family: 'Outfit';
}
.register > p{
    font-size: 16px;
    font-family: 'jakrta';
    color: #867c89;
    margin-top: 5px;
}
.type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.type > button{
    width: 130px;
    padding: 10px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 12px;
    border: 2px solid #ccc;
    font-family: 'jakrta';
    font-size: 12px;
    font-weight: 600;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s ease;
}
.type > button:hover{
    border: 2px solid var(--main2);
    background-color: #F6F1E9;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8f2;
    border-radius: 24px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid var(--main2);
}
form > label {
    font-family: 'jakrta';
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #464343;
    font-weight: 500;
}
.email, .pass, .name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.email > svg, .pass > svg, .name > svg{
    margin-right: 10px;
}
form > div > input{
    padding: 12px;
    padding-right: 0px;
    width: 360px;
    border-radius: 12px;
    font-family: 'jakrta';
    border: 2px solid #ccc;
    background-color: var(--bg);
}
.registerBtn{
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--main2);
    color: var(--card);
    font-size: 20px;
    border: 1px solid var(--main2);
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Outfit';
    font-size: 18px;
}
.registerBtn:hover{
    background-color: #DF8B57;
}
form > p{
    text-align: center;
    font-weight: 400;
    color: var(--txt);
    font-family: 'jakrta';
}
form > p > a{
    text-decoration: none;
    color: var(--main2);
    font-weight: 500;
}
form > p > a:hover{
    text-decoration: underline;
    color: var(--main);
}